out
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
tclogs
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/logs/
/web-app/cacheDir
/web-app/plugins
/web-app/WEB-INF/classes
src/templates/scaffolding/Controller.groovy
