/*
*= require brat/css/style-vis.css
*= require self
*/

.resultsBox {
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
  height: 20em;
  min-height: 8em;
  padding: 5px;
  overflow: auto;
  resize: both;
  width: 100%;
}

.ruleorigin {
  color: purple;
}

/* Override a few style-vis.css settings for the embedded version, to make things larger: */
text {
  font-size: 18px;
/*  letter-spacing: .1em; */
}
.span text { font-size: 14px; }
.arcs text { font-size: 12px;  }
